@import "./Stuff";



body {
  background-color: #FFD3B0;

  .wrapper {
    background-color: white;
    width: 1000px;
    position: relative;
    left: 0;
    top: 100px;
    margin:0 auto;

    header {
      border-bottom: 2px solid lightgray;

      .logo {
        display: inline-block;
        position: relative;
        padding: 5px;
        margin: 0 auto;

        .left-side {
          float: left;
          border-right: 1px solid lightgray;
          padding-right: 20px;
          padding-left: 20px;

          a {
            text-decoration: none;
            color: black;
            font-size: 25px;
          }

        }

      }

      .hireMe {
        display: inline-block;
        list-style: none;
        position: relative;
        left: 60%;
        margin: 0 auto;

        .right-side {
          float: right;
          //padding-right: 20px;

          .projects {
            text-decoration: none;
            color: black;
            font-size: $font-sizePrimary;
            display: inline-block;
            padding-top: 5px;
            padding-right: 10px;
          }
          .hireMeLink {
            text-decoration: none;
            display: inline-block;
            color: black;
            font-size: $font-sizePrimary;
            font-weight: bold;
            padding-left: 13px;
            padding-right: 13px;
            padding-top: 3px;
            padding-bottom: 3px;
            border: 2px solid black;
          }

        }

      }

    }

    ////////////////// Slika i text pored ////////////////////////////
    .content1 {

      .fibonacciText {



        width: 100%;
        height: 500px;

        .fibonacci {
          display: inline-block;
          width: 49%;
          height: 100%;



          img {
            width: 100%;
            height: 100%;
          }

        }

        .textRightFib {
          float: right;
          width: 50%;
          height: auto;
          text-align: left;

          padding-top: 20px;

          .textIntroducionWrapper {
            width: 90%;
            //height: auto;
            text-align: left;
            //padding-left:10%;

            margin: 0 auto;
            position: relative;
            left: 5%;

            h2 {
              padding-right: 100px;
              font-family: Verdana,sans-serif;
              font-weight: 100;
            }

            p {
              @extend .textIntroducion;

              a {
                color: $font-colorPrimary;
                border-bottom: 1px solid $font-colorPrimary;
                padding-bottom: 3px;
                text-decoration: none;
              }
            }
          }

        }

      }
    }

    ////////////////// Ostatak stranice ////////////////////////////

    .content2 {

      background-color: $content2color;
      //  height: 1000px;

      //////// LINIJA CRNA MALA ///////////

      .line {
        margin-left: -50px;
        width: 100px;
        height: 1px;
        background: $font-colorSecundary;
      }

      .projectH3 {
        width: 100%;

        h3 {
          display: inline-block;
          margin-left: 85%;
          margin-top: 100px;
          padding-left: 30px;
          padding-bottom: 10px;
          border-bottom:1px solid black;
        }
      }

      .textIntroducion p {
        @extend .textIntroducion;

      }

      //////// Featured projects ///////////

      .featuredProjects {
        padding-left: 50px;
        padding-right: 50px;
        display: block;
        padding-bottom: 50px;

        p {
          @extend .textIntroducion;
          display: block;
          padding-left: 20px;
          padding-bottom: 20px;
        }

        .fibonacciDivs {
          @extend .fibonacciDivs;

          .fibonacciSmall {
            @extend .fibonacciSmall;


            img {
              width: 100%;
              height: 100%;
              object-fit: contain;
            }
          }

        }
      }

      //////// Commercial projects ///////////

      .commercialProjects {

        display: block;
        padding-left: 50px;
        padding-right: 50px;
        padding-top: 40px;
        padding-bottom: 50px;

        p {
          @extend .textIntroducion;
          display: block;
          padding-left: 20px;
          padding-bottom: 20px;
        }

        .fibonacciDivs {
          @extend .fibonacciDivs;
          padding-bottom: 20px;

          .fibonacciSmall {
            @extend .fibonacciSmall;

            img {
              width: 100%;
              height: 100%;
              object-fit: contain;
            }
          }

        }
      }

      //////////// Concept projects ///////////////////

      .conceptProjects {

        display: block;
        padding-left: 50px;
        padding-right: 50px;
        padding-top: 40px;
        padding-bottom: 50px;

        p {
          @extend .textIntroducion;
          display: block;
          padding-left: 20px;
          padding-bottom: 20px;
        }

        .fibonacciDivs {
          @extend .fibonacciDivs;
          padding-bottom: 20px;

          .fibonacciSmall {
            @extend .fibonacciSmall;

            img {
              width: 100%;
              height: 100%;
              object-fit: contain;
            }
          }

        }
      }

      //////////// gift/charity projects ///////////////////

      .giftCharity {

        display: block;
        padding-left: 50px;
        padding-right: 50px;
        padding-top: 40px;
        padding-bottom: 50px;

        p {
          @extend .textIntroducion;
          display: block;
          padding-left: 20px;
          padding-bottom: 20px;
        }

        .fibonacciDivs {
          @extend .fibonacciDivs;
          padding-bottom: 20px;

          .fibonacciSmall {
            @extend .fibonacciSmall;

            img {
              width: 100%;
              height: 100%;
              object-fit: contain;
            }
          }

        }
      }

      //////////// first projects #throwback ///////////////////

      .firstProjects {

        display: block;
        padding-left: 50px;
        padding-right: 50px;
        padding-top: 40px;
        padding-bottom: 50px;

        p {
          @extend .textIntroducion;
          display: block;
          padding-left: 20px;
          padding-bottom: 20px;
        }

        .fibonacciDivs {
          @extend .fibonacciDivs;
          padding-bottom: 20px;

          .fibonacciSmall {
            @extend .fibonacciSmall;

            img {
              width: 100%;
              height: 100%;
              object-fit: contain;
            }
          }

        }
      }

      ////////////// PAPIRUS POZADINA I FOOTER/////////////////

      .papirusFooter {
        min-height: 500px;
        background-image: url("Images/books.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;

        .naslovFooter {
          margin: 0;

          h3 {
            display: inline-block;
            margin-left: 35%;
            margin-top: 150px;
            color: white;
          }
        }

      .leftContent, .rightContent{
        h3{
          position: relative;
          &:after{
            position: absolute;
            content: '';
            background: white;
            height:2px;
            width:100px;
            bottom:-10px;
          }
        }
      }
        .rightContent{
          h3{
            &:after{
              right:-50px;
            }
          }
        }
        .leftContent{
          h3{
            &:after{
              left:-50px;
            }
          }
        }

        .leftContent {

          float: left;
          width: 30%;
          padding-left: 100px;
          padding-top: 80px;

          color: white;
          margin: 0 auto;
          .lineWhite {

            position: relative;
           // left: -50px;
            width: 100px;
            height: 2px;
            background: white;
          }

          p {
            text-align: left;
            a {
              border-bottom: 1px solid white;
              padding: 5px;
              text-decoration: none;
              color: white;
              font-weight: bold;
            }

          }
        }

        .rightContent {
          float: right;
          display: inline-block;
          width: 30%;
          padding-right: 100px;
          padding-top: 80px;
          color: white;
          margin: 0 auto;


          .lineWhite {

            position: relative;
            left: 250px;
            width: 100px;
            height: 2px;
            background: white;
          }

          h3 {
            text-align: right;
          }

          p {
            text-align: right;
            a {
              border-bottom: 1px solid white;
              padding: 5px;
              text-decoration: none;
              color: white;
              font-weight: bold;
            }
          }

        }

      }

    }

    footer {
      border:1px solid white;
      .footerGodina {
        float: left;
        width: 49%;
        p {
          @extend .textIntroducion;
          position: relative;
          left: 50%;
          top: 15px;
          display: inline-block;

          margin: 0 auto;
        }
      }
      .footerList {
        float: right;
        width: 40%;

        margin: 0 auto;
        .listF {
          list-style: none;
          li {
            display: inline-block;
            padding-right: 20px;
          }
        }
      }

    }
  }
}

@import "./StyleRespIPad";

@import "./StyleRespPhone";
