$font-sizePrimary: 15px;
$font-colorPrimary: gray;
$font-colorSecundary: black;
$content2color: #ECF2F2;
$fibosmallcolor: lightgray;


.TextIntroducion {
  font-size: $font-sizePrimary;
  color: $font-colorPrimary;  }


.fibonacciSmall{
  display: inline-block;
  width:180px;
  height:220px;
  padding:10px;
  background-color: $fibosmallcolor;}


.fibonacciDivs {
  padding-right:40px;
  display: inline-block;}
  //padding-bottom:50px;}
.Proba{
  background-color: #FFD3B0;
  width:100%;
}


body {
  background-color: #FFD3B0;

  .Wraper {
    background-color: white;
    width: 1000px;
    position: relative;
    left: 0;
    top: 100px;
    margin:0 auto;

    header {
      border-bottom: 2px solid lightgray;

      .logo {
        display: inline-block;
        position: relative;
        padding: 5px;
        margin: 0 auto;

        .left-side {
          float: left;
          border-right: 1px solid lightgray;
          padding-right: 20px;
          padding-left: 20px;

          a {
            text-decoration: none;
            color: black;
            font-size: 25px;
          }

        }

      }

      .HireMe {
        display: inline-block;
        list-style: none;
        position: relative;
        left: 60%;
        margin: 0 auto;

        .right-side {
          float: right;
          //padding-right: 20px;

          .Projects {
            text-decoration: none;
            color: black;
            font-size: $font-sizePrimary;
            display: inline-block;
            padding-top: 5px;
            padding-right: 10px;
          }
          .HireMeA {
            text-decoration: none;
            display: inline-block;
            color: black;
            font-size: $font-sizePrimary;
            font-weight: bold;
            padding-left: 13px;
            padding-right: 13px;
            padding-top: 3px;
            padding-bottom: 3px;
            border: 2px solid black;
          }

        }

      }

    }

    ////////////////// Slika i text pored ////////////////////////////
    .Content1 {

      .ImMilan {

        //border:1px solid red;

        width: 100%;
        height: 500px;
        // border:1px solid red;

        .Fibonacci {
          display: inline-block;
          width: 49%;
          height: 100%;

          //border:1px solid red;

          img {
            width: 100%;
            height: 100%;
          }

        }

        .TextRightFib {
          float: right;
          width: 50%;
          height: auto;
          text-align: left;
          //border:1px solid blue;
          padding-top: 20px;

          .textIntroducionWr {
            width: 90%;
            height: auto;
            text-align: left;
            //padding-left:10%;
            // border:1px solid blue;
            margin: 0 auto;
            position: relative;
            left: 5%;

            h2 {
              padding-right: 100px;
            }

            p {
              @extend .TextIntroducion;

              a {
                color: $font-colorPrimary;
                border-bottom: 1px solid $font-colorPrimary;
                padding-bottom: 3px;
                text-decoration: none;
              }
            }
          }

        }

      }
    }

    ////////////////// Ostatak stranice ////////////////////////////

    .Content2 {

      background-color: $content2color;
      //  height: 1000px;

      //////// LINIJA CRNA MALA ///////////

      .line {
        margin-left: -50px;
        width: 100px;
        height: 2px;
        background: $font-colorSecundary;
      }

      .ProjectH3 {
        //  padding-left:50px;
        // margin-right:40px;
        //  margin-top:40px;
        width: 100%;

        h3 {
          border-bottom: 1px solid black;
          display: inline-block;
          margin-left: 85%;
          margin-top: 100px;
          padding-left: 30px;
          padding-bottom: 10px;
        }
      }

      .TextIntroducion p {
        @extend .TextIntroducion;

      }

      //////// Featured projects ///////////

      .FeaturedProjects {

        display: block;
        padding-left: 100px;
        padding-bottom: 50px;

        p {
          @extend .TextIntroducion;
          display: block;
          padding-left: 20px;
          padding-bottom: 20px;
        }

        .fibonacciDivs {
          @extend .fibonacciDivs;
          padding-bottom: 20px;

          .fibonacciSmall {
            @extend .fibonacciSmall;

            img {
              width: 100%;
              height: 100%;
            }
          }

        }
      }

      //////// Commercial projects ///////////

      .commercialProjects {

        display: block;
        padding-left: 100px;
        padding-top: 40px;
        padding-bottom: 50px;

        p {
          @extend .TextIntroducion;
          display: block;
          padding-left: 20px;
          padding-bottom: 20px;
        }

        .fibonacciDivs {
          @extend .fibonacciDivs;
          padding-bottom: 20px;

          .fibonacciSmall {
            @extend .fibonacciSmall;

            img {
              width: 100%;
              height: 100%;
            }
          }

        }
      }

      //////////// Concept projects ///////////////////

      .conceptProjects {

        display: block;
        padding-left: 100px;
        padding-top: 40px;
        padding-bottom: 50px;

        p {
          @extend .TextIntroducion;
          display: block;
          padding-left: 20px;
          padding-bottom: 20px;
        }

        .fibonacciDivs {
          @extend .fibonacciDivs;
          padding-bottom: 20px;

          .fibonacciSmall {
            @extend .fibonacciSmall;

            img {
              width: 100%;
              height: 100%;
            }
          }

        }
      }

      //////////// gift/charity projects ///////////////////

      .giftCharity {

        display: block;
        padding-left: 100px;
        padding-top: 40px;
        padding-bottom: 50px;

        p {
          @extend .TextIntroducion;
          display: block;
          padding-left: 20px;
          padding-bottom: 20px;
        }

        .fibonacciDivs {
          @extend .fibonacciDivs;
          padding-bottom: 20px;

          .fibonacciSmall {
            @extend .fibonacciSmall;

            img {
              width: 100%;
              height: 100%;
            }
          }

        }
      }

      //////////// first projects #throwback ///////////////////

      .firstProjects {

        display: block;
        padding-left: 100px;
        padding-top: 40px;
        padding-bottom: 50px;

        p {
          @extend .TextIntroducion;
          display: block;
          padding-left: 20px;
          padding-bottom: 20px;
        }

        .fibonacciDivs {
          @extend .fibonacciDivs;
          padding-bottom: 20px;

          .fibonacciSmall {
            @extend .fibonacciSmall;

            img {
              width: 100%;
              height: 100%;
            }
          }

        }
      }

      ////////////// PAPIRUS POZADINA I FOOTER/////////////////

      .papirusFooter {
        height: 500px;
        background-image: url("Images/books.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;

        .naslovFooter {
          margin: 0;

          h3 {
            display: inline-block;
            margin-left: 35%;
            margin-top: 150px;
            color: white;
          }
        }

        .leftContent {

          float: left;
          width: 30%;
          padding-left: 100px;
          padding-top: 80px;
         // border: 1px solid red;
          color: white;
          margin: 0 auto;
          .lineWhite {
           // border: 1px solid blue;
            position: relative;
            left: -50px;
            width: 100px;
            height: 2px;
            background: white;
          }

          p {
            text-align: left;
            a {
              border-bottom: 1px solid white;
              padding: 5px;
              text-decoration: none;
              color: white;
              font-weight: bold;
            }

          }
        }

        .rightContent {
          float: right;
        //  border: 1px solid red;
          display: inline-block;
          width: 30%;
          padding-right: 100px;
          padding-top: 80px;
          color: white;
          margin: 0 auto;

          .lineWhite {
          //   border: 1px solid blue;
            position: relative;
            left: 250px;
            width: 100px;
            height: 2px;
            background: white;
          }

          h3 {
            text-align: right;
          }

          p {
            text-align: right;
            a {
              border-bottom: 1px solid white;
              padding: 5px;
              text-decoration: none;
              color: white;
              font-weight: bold;
            }
          }

        }

      }

    }

    footer {

      .footerGodina {
        float: left;
        width: 49%;
        p {
          @extend .TextIntroducion;
          position: relative;
          left: 50%;
          top: 15px;
          display: inline-block;
          //border:1px solid red;
          margin: 0 auto;
        }
      }
      .footerList {
        float: right;
        width: 40%;
        //border:1px solid red;
        margin: 0 auto;
        .listF {
          list-style: none;
          li {
            display: inline-block;
            padding-right: 20px;
          }
        }
      }

    }
  }
}