.textIntroducion, body .Wrapper .content1 .fibonacciText .textRightFib .textIntroducionWr p, body .Wrapper .content2 .textIntroducion p, body .Wrapper .content2 .featuredProjects p, body .Wrapper .content2 .commercialProjects p, body .Wrapper .content2 .conceptProjects p, body .Wrapper .content2 .giftCharity p, body .Wrapper .content2 .firstProjects p, body .Wrapper footer .footerGodina p {
  font-size: 15px;
  color: gray; }

.fibonacciSmall, body .Wrapper .content2 .featuredProjects .fibonacciDivs .fibonacciSmall, body .Wrapper .content2 .commercialProjects .fibonacciDivs .fibonacciSmall, body .Wrapper .content2 .conceptProjects .fibonacciDivs .fibonacciSmall, body .Wrapper .content2 .giftCharity .fibonacciDivs .fibonacciSmall, body .Wrapper .content2 .firstProjects .fibonacciDivs .fibonacciSmall {
  display: inline-block;
  width: 180px;
  height: 220px;
  padding: 10px;
  background-color: lightgray; }

.fibonacciDivs, body .Wrapper .content2 .featuredProjects .fibonacciDivs, body .Wrapper .content2 .commercialProjects .fibonacciDivs, body .Wrapper .content2 .conceptProjects .fibonacciDivs, body .Wrapper .content2 .giftCharity .fibonacciDivs, body .Wrapper .content2 .firstProjects .fibonacciDivs {
  padding-right: 40px;
  display: inline-block; }

.Proba {
  background-color: #FFD3B0;
  width: 100%; }

body {
  background-color: #FFD3B0; }
  body .Wrapper {
    background-color: white;
    width: 1000px;
    position: relative;
    left: 0;
    top: 100px;
    margin: 0 auto; }
    body .Wrapper header {
      border-bottom: 2px solid lightgray; }
      body .Wrapper header .logo {
        display: inline-block;
        position: relative;
        padding: 5px;
        margin: 0 auto; }
        body .Wrapper header .logo .left-side {
          float: left;
          border-right: 1px solid lightgray;
          padding-right: 20px;
          padding-left: 20px; }
          body .Wrapper header .logo .left-side a {
            text-decoration: none;
            color: black;
            font-size: 25px; }
      body .Wrapper header .hireMe {
        display: inline-block;
        list-style: none;
        position: relative;
        left: 60%;
        margin: 0 auto; }
        body .Wrapper header .hireMe .right-side {
          float: right; }
          body .Wrapper header .hireMe .right-side .projects {
            text-decoration: none;
            color: black;
            font-size: 15px;
            display: inline-block;
            padding-top: 5px;
            padding-right: 10px; }
          body .Wrapper header .hireMe .right-side .hireMeLink {
            text-decoration: none;
            display: inline-block;
            color: black;
            font-size: 15px;
            font-weight: bold;
            padding-left: 13px;
            padding-right: 13px;
            padding-top: 3px;
            padding-bottom: 3px;
            border: 2px solid black; }
    body .Wrapper .content1 .fibonacciText {
      width: 100%;
      height: 500px; }
      body .Wrapper .content1 .fibonacciText .fibonacci {
        display: inline-block;
        width: 49%;
        height: 100%; }
        body .Wrapper .content1 .fibonacciText .fibonacci img {
          width: 100%;
          height: 100%; }
      body .Wrapper .content1 .fibonacciText .textRightFib {
        float: right;
        width: 50%;
        height: auto;
        text-align: left;
        padding-top: 20px; }
        body .Wrapper .content1 .fibonacciText .textRightFib .textIntroducionWr {
          width: 90%;
          height: auto;
          text-align: left;
          margin: 0 auto;
          position: relative;
          left: 5%; }
          body .Wrapper .content1 .fibonacciText .textRightFib .textIntroducionWr h2 {
            padding-right: 100px; }
          body .Wrapper .content1 .fibonacciText .textRightFib .textIntroducionWr p a {
            color: gray;
            border-bottom: 1px solid gray;
            padding-bottom: 3px;
            text-decoration: none; }
    body .Wrapper .content2 {
      background-color: #ECF2F2; }
      body .Wrapper .content2 .line {
        margin-left: -50px;
        width: 100px;
        height: 2px;
        background: black; }
      body .Wrapper .content2 .projectH3 {
        width: 100%; }
        body .Wrapper .content2 .projectH3 h3 {
          border-bottom: 1px solid black;
          display: inline-block;
          margin-left: 85%;
          margin-top: 100px;
          padding-left: 30px;
          padding-bottom: 10px; }
      body .Wrapper .content2 .featuredProjects {
        display: block;
        padding-left: 100px;
        padding-bottom: 50px; }
        body .Wrapper .content2 .featuredProjects p {
          display: block;
          padding-left: 20px;
          padding-bottom: 20px; }
        body .Wrapper .content2 .featuredProjects .fibonacciDivs {
          padding-bottom: 20px; }
          body .Wrapper .content2 .featuredProjects .fibonacciDivs .fibonacciSmall img {
            width: 100%;
            height: 100%; }
      body .Wrapper .content2 .commercialProjects {
        display: block;
        padding-left: 100px;
        padding-top: 40px;
        padding-bottom: 50px; }
        body .Wrapper .content2 .commercialProjects p {
          display: block;
          padding-left: 20px;
          padding-bottom: 20px; }
        body .Wrapper .content2 .commercialProjects .fibonacciDivs {
          padding-bottom: 20px; }
          body .Wrapper .content2 .commercialProjects .fibonacciDivs .fibonacciSmall img {
            width: 100%;
            height: 100%; }
      body .Wrapper .content2 .conceptProjects {
        display: block;
        padding-left: 100px;
        padding-top: 40px;
        padding-bottom: 50px; }
        body .Wrapper .content2 .conceptProjects p {
          display: block;
          padding-left: 20px;
          padding-bottom: 20px; }
        body .Wrapper .content2 .conceptProjects .fibonacciDivs {
          padding-bottom: 20px; }
          body .Wrapper .content2 .conceptProjects .fibonacciDivs .fibonacciSmall img {
            width: 100%;
            height: 100%; }
      body .Wrapper .content2 .giftCharity {
        display: block;
        padding-left: 100px;
        padding-top: 40px;
        padding-bottom: 50px; }
        body .Wrapper .content2 .giftCharity p {
          display: block;
          padding-left: 20px;
          padding-bottom: 20px; }
        body .Wrapper .content2 .giftCharity .fibonacciDivs {
          padding-bottom: 20px; }
          body .Wrapper .content2 .giftCharity .fibonacciDivs .fibonacciSmall img {
            width: 100%;
            height: 100%; }
      body .Wrapper .content2 .firstProjects {
        display: block;
        padding-left: 100px;
        padding-top: 40px;
        padding-bottom: 50px; }
        body .Wrapper .content2 .firstProjects p {
          display: block;
          padding-left: 20px;
          padding-bottom: 20px; }
        body .Wrapper .content2 .firstProjects .fibonacciDivs {
          padding-bottom: 20px; }
          body .Wrapper .content2 .firstProjects .fibonacciDivs .fibonacciSmall img {
            width: 100%;
            height: 100%; }
      body .Wrapper .content2 .papirusFooter {
        height: 500px;
        background-image: url("Images/books.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center; }
        body .Wrapper .content2 .papirusFooter .naslovFooter {
          margin: 0; }
          body .Wrapper .content2 .papirusFooter .naslovFooter h3 {
            display: inline-block;
            margin-left: 35%;
            margin-top: 150px;
            color: white; }
        body .Wrapper .content2 .papirusFooter .leftContent {
          float: left;
          width: 30%;
          padding-left: 100px;
          padding-top: 80px;
          color: white;
          margin: 0 auto; }
          body .Wrapper .content2 .papirusFooter .leftContent .lineWhite {
            position: relative;
            left: -50px;
            width: 100px;
            height: 2px;
            background: white; }
          body .Wrapper .content2 .papirusFooter .leftContent p {
            text-align: left; }
            body .Wrapper .content2 .papirusFooter .leftContent p a {
              border-bottom: 1px solid white;
              padding: 5px;
              text-decoration: none;
              color: white;
              font-weight: bold; }
        body .Wrapper .content2 .papirusFooter .rightContent {
          float: right;
          display: inline-block;
          width: 30%;
          padding-right: 100px;
          padding-top: 80px;
          color: white;
          margin: 0 auto; }
          body .Wrapper .content2 .papirusFooter .rightContent .lineWhite {
            position: relative;
            left: 250px;
            width: 100px;
            height: 2px;
            background: white; }
          body .Wrapper .content2 .papirusFooter .rightContent h3 {
            text-align: right; }
          body .Wrapper .content2 .papirusFooter .rightContent p {
            text-align: right; }
            body .Wrapper .content2 .papirusFooter .rightContent p a {
              border-bottom: 1px solid white;
              padding: 5px;
              text-decoration: none;
              color: white;
              font-weight: bold; }
    body .Wrapper footer {
      border: 1px solid white; }
      body .Wrapper footer .footerGodina {
        float: left;
        width: 49%; }
        body .Wrapper footer .footerGodina p {
          position: relative;
          left: 50%;
          top: 15px;
          display: inline-block;
          margin: 0 auto; }
      body .Wrapper footer .footerList {
        float: right;
        width: 40%;
        margin: 0 auto; }
        body .Wrapper footer .footerList .listF {
          list-style: none; }
          body .Wrapper footer .footerList .listF li {
            display: inline-block;
            padding-right: 20px; }

/*# sourceMappingURL=Style.css.map */
