@media only screen and (max-width: 1040px) {

  $font-sizePrimary: 14px;
  $font-colorPrimary: gray;
  $font-colorSecundary: black;
  $content2color: #ECF2F2;
  $fibosmallcolor: lightgray;

  .textIntroducionMedia {
    font-size: $font-sizePrimary;
    color: $font-colorPrimary;
  }

  .fibonacciSmall {
    display: inline-block;
    width: 180px;
    height: 220px;
    padding: 10px;
    background-color: $fibosmallcolor;
  }

  .fibonacciDivs {
    padding-right: 40px;
    display: inline-block;
  }


  body {
    background-color: white;
    .wrapper {
      background-color: white;
      width: 100%;
      position: absolute;
      left: 0;
      top: 0;
      margin: 0 auto;

      header {
        border-bottom: 1px solid lightgray;
        padding: 5px;

        .logo {

          display: inline-block;
          position: absolute;
          padding: 5px;
          margin: 0 auto;
          background-size: cover;

          .left-side {
            float: left;
            border-right: 1px solid lightgray;
            padding-right: 20px;
            padding-left: 20px;

            a {
              text-decoration: none;
              color: black;
              font-size: 25px;
            }

          }

        }

        .hireMe {
          display: inline-block;
          list-style: none;
          position: relative;
          left: 75%;
          //padding-left:19%;
          margin: 0 auto;


          .right-side {
            float: right;


            .projects {
              text-decoration: none;
              color: black;
              font-size: $font-sizePrimary;
              display: inline-block;
              padding-top: 5px;
              padding-right: 10px;
            }
            .hireMeLink {
              text-decoration: none;
              display: inline-block;
              color: black;
              font-size: $font-sizePrimary;
              font-weight: bold;
              padding-left: 13px;
              padding-right: 13px;
              padding-top: 3px;
              padding-bottom: 3px;
              border: 2px solid black;
            }

          }

        }

      }

      .content1 {

        .fibonacciText {



          width: 100%;
          height: 500px;

          .fibonacci {
            display: inline-block;
            width: 49%;
            height: 100%;



            img {
              width: 100%;
              height: 100%;
            }

          }

          .textRightFib {
            float: right;
            width: 50%;
            height: auto;
            text-align: left;
            padding-top: 5px;

            .textIntroducionWrapper {
              width: 340px;
              text-align: left;
              position: relative;
              margin: 0 auto;
              padding-top: 10px;


              h2 {
                padding-right: 100px;
                font-size: 18px;
              }

              p {
                @extend .textIntroducionMedia;

                a {
                  color: $font-colorPrimary;
                  border-bottom: 1px solid $font-colorPrimary;
                  padding-bottom: 3px;
                  text-decoration: none;
                }
              }
            }

          }

        }
      }

      .content2 {

        //////// LINIJA CRNA MALA ///////////

        .line {
          margin-left: 0;
          width: 100px;
          height: 1px;
          background: $font-colorSecundary;
        }

      }

    }
  }
}